.App {
  min-height: 100vh;
  text-align: center;
  background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url(./pexels-josh-sorenson-1714208.jpg) no-repeat center center fixed;
  background-size: cover;

}







